<include file="Public:header"/>
<div class="clear"></div>
<div class="nr_center">
    <div class="height">
        <div class="nr_show">
            <div class="nr_word">
                <dl>
                    <dd><p>标题</p></dd>
                    <dt><span>作者 : 陈橙橙</span><span>发布时间 : 2016.5.2</span></dt>
                </dl>
            </div>
            <div class="nr_line"></div>
            <div class="nr_word2">
                <p>内容</p>
            </div>
        </div>
        <div class="nr_word3">
            <div class="nr_word4">
                <a href="">上一篇 : 行业快讯标题</a>
            </div>
            <div class="nr_word5">
                <a href="">下一篇 : 行业快讯标题</a>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>