<include file="Public:header"/>
<div class="clear"></div>
<div class="nr_center">
    <div class="height">
        <div class="nr_show">
            <div class="nr_word">
                <dl>
                    <dd><p>{$info['article_title']}</p></dd>
                    <dt><span>作者 : {$info['article_author']}</span><span>发布时间 : {$info['article_time']|date='Y-m-d H:i:s',###}</span></dt>
                </dl>
            </div>
            <div class="nr_line"></div>
            <div class="nr_word2">
                <p>{$info['article_content']}</p>
            </div>
        </div>
        <div class="nr_word3">
            <div class="nr_word4">
                <a href="">上一篇 : 行业快讯标题</a>
            </div>
            <div class="nr_word5">
                <a href="">下一篇 : 行业快讯标题</a>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>