<include file="Public:header"/>
<div class="clear"></div>
<div class="xq_center">
    <notempty name="list">
        <volist name="list" id="vo">
            <div class="kx_show">
                <div class="kx_photo">
                    <a href="{:U('News/detail',array('id'=>$vo['article_id']))}"><img src="__UPLOADS__/{$vo['article_pic']}" width="200" height="200"></a>
                </div>
                <div class="kx_word">
                    <dl>
                        <dt class="kx_word1"><a href="{:U('News/detail',array('id'=>$vo['article_id']))}">{$vo['article_title']}</a></dt>
                        <dd class="kx_word2"><a href="{:U('News/detail',array('id'=>$vo['article_id']))}">{$vo['article_desc']}</a></dd>
                        <dd class="kx_word3"><a href="{:U('News/detail',array('id'=>$vo['article_id']))}"><i class="icon-search"></i>查看全部</a></dd>
                    </dl>
                </div>
                <div class="kx_line"></div>
            </div>
        </volist>
    <else/>
        <div>没有找到相关信息.</div>
    </notempty>
    <div class="page">
        {$page}
    </div>
</div>
<include file="Public:footer"/>