<div class="footer">
    <div class="lastword">
        <p>Copyright@ 2007-2015 mxd.cn 臻爱珠宝定制 版权所有 并保留所有权利</p>
    </div>
</div>
<script src="__JS__/jquery-1.11.3.min.js"></script>
<script>
    $(function (){
        $(".topw2").hover(function(){
            $(".wx").slideToggle();
        });
    });
</script>

<script src="__JS__/jquery-1.11.3.min.js"></script>
<script src="__JS__/unslider.js"></script>
<script>
    $(function() {
        var slidey = $('.banner').unslider({
            speed: 1000,
            delay: 3000,
            complete: function() {},
            keys: true,
            dots: true,
            fluid: false
        });
        data = slidey.data('unslider');
    });
</script>
<script src="__JS__/jquery-1.3.1.min.js"></script>
<script src="__JS__/slider.js"></script>

<script>
    $(function (){
        $(".add1").click(function(){
            $(".photo1").show();
            $(".photo2").hide();
            $(".photo3").hide();
        });
    });
    $(function (){
        $(".add2").click(function(){
            $(".photo2").show();
            $(".photo1").hide();
            $(".photo3").hide();
        });
    });
    $(function (){
        $(".add3").click(function(){
            $(".photo3").show();
            $(".photo2").hide();
            $(".photo1").hide();
        });
    });
</script>

</body>
</html>