<include file="Public:header"/>
<div class="clear"></div>
<div class="nr_center">
    <div class="height">
        <div class="lx_show">
            <h1 class="lx_word">联系我们</h1>
            <div class="lx_show1">
                <img src="__UPLOADS__/{:MSC('weixin_qrcode')}" height="200" width="200">
                <p>扫描二维码添加微信</p>
            </div>
            <div class="lx_show1">
                <a href="https://shop116376713.taobao.com/search.htm?spm=2013.1.w5002-10242381924.1.U4aZZs&search=y" target=＂_blank＂><img src="__UPLOADS__/{:MSC('tb_qrc')}" height="200" width="200"></a>
                <p>扫描二维码关注淘宝</p>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>