<include file="Public:header"/>
<div class="xq_center">
    <div class="height">
        <div class="xq_show">
            <div class="xq_show1">
                <div class="con-FangDa" id="fangdajing">
                    <div class="con-fangDaIMg">
                        <!-- 正常显示的图片-->
                        <img src="__IMG__/big/1.jpg">
                        <!-- 滑块-->
                        <div class="magnifyingBegin"></div>
                        <!-- 放大镜显示的图片 -->
                        <div class="magnifyingShow"><img src="__IMG__/big/1.jpg"></div>
                    </div>
                    <ul class="con-FangDa-ImgList">
                        <!-- 图片显示列表 -->
                        <li class="active"><img src="__IMG__/thumb/1.jpg" data-bigimg="__IMG__/big/1.jpg"></li>
                        <li><img src="__IMG__/thumb/2.jpg" data-bigimg="__IMG__/big/2.jpg"></li>
                        <li><img src="__IMG__/thumb/3.jpg" data-bigimg="__IMG__/big/3.jpg"></li>
                        <li><img src="__IMG__/thumb/4.jpg" data-bigimg="__IMG__/big/4.jpg"></li>
                        <li><img src="__IMG__/thumb/5.jpg" data-bigimg="__IMG__/big/5.jpg"></li>
                    </ul>
                </div>
            </div>
            <div class="xq_show2">
                <div class="xq_word1">
                    <p>戒指</p>
                </div>
                <div class="xq_line"></div>
                <div class="xq_word2">
                    <ul>
                        <li>材质: 铂金</li>
                        <li>规格:15寸</li>
                        <li>价格:<span class="xq_sell">¥2000</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="xq_centerb">
            <div class="xq_word3">
                <p>产品详情</p>
            </div>
            <div class="xq_line1"></div>
            <div class="xq_word4">
                <p>铂金戒指对戒</p>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>