<include file="Public:header"/>
<div class="xq_center">
    <div class="height">
        <div class="xq_show">
            <div class="xq_show1">
                <div class="con-FangDa" id="fangdajing">
                    <div class="con-fangDaIMg">
                        <!-- 正常显示的图片-->
                        <img src="__UPLOADS__/{$info['goods_pic']}">
                        <!-- 滑块-->
                        <div class="magnifyingBegin"></div>
                        <!-- 放大镜显示的图片 -->
                        <div class="magnifyingShow"><img src="__UPLOADS__/{$info['goods_pic']}"></div>
                    </div>
                    <ul class="con-FangDa-ImgList">
                        <!-- 图片显示列表 -->
                        <li class="active"><img src="__UPLOADS__/{$info['goods_pic']}" data-bigimg="__UPLOADS__/{$info['goods_pic']}"></li>
                        <volist name="info['goods_pic_more']" id="vo">
                        <li><img src="__UPLOADS__/{$vo}" data-bigimg="__UPLOADS__/{$vo}"></li>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="xq_show2">
                <div class="xq_word1">
                    <p>{$info['goods_name']}</p>
                </div>
                <div class="xq_line"></div>
                <div class="xq_word2">
                    <ul>
                        <li>材质: 铂金</li>
                        <li>规格:15寸</li>
                        <li>价格:<span class="xq_sell">¥{$info['goods_price']|price_format}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="xq_centerb">
            <div class="xq_word3">
                <p>产品详情</p>
            </div>
            <div class="xq_line1"></div>
            <div class="xq_word4">
                <p>{$info['goods_body']}</p>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>