<include file="Public:header"/>
<div class="clear"></div>
<div class="center">
    <div class="height">
        <div class="cp_choice">
            <span class="cp_word">系列:      </span>
            <ul>
                <li>|</li>
                <li class="ture"><a href="">全部</a></li>
                <li><a href="">手环系列</a></li>
                <li><a href="">戒指系列</a></li>
                <li><a href="">项链系列</a></li>
                <li><a href="">手链系列</a></li>
            </ul>
        </div>
        <div class="cp_choice">
            <span class="cp_word">风格:      </span>
            <ul>
                <li>|</li>
                <li class="ture"><a href="">全部</a></li>
                <li><a href="">黄金</a></li>
                <li><a href="">钻石</a></li>
                <li><a href="">银饰</a></li>
                <li><a href="">珀金</a></li>
            </ul>
        </div>
        <div class="cp_choice">
            <span class="cp_word">价格:      </span>
            <ul>
                <li>|</li>
                <li class="ture"><a href="">全部</a></li>
                <li><a href="">100以下</a></li>
                <li><a href="">100-200</a></li>
                <li><a href="">200-500</a></li>
                <li><a href="">500以上</a></li>
            </ul>
        </div>
    </div>

    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="Amain">
        <div class="show">
            <ul>
                <li><img src="__IMG__/p1.jpg" width="300" height="300"></li>
                <li><p class="sall">20000.00</p></li>
                <li><p class="show_p">戒指</p></li>
                <li class="link"><a href="{:U('Product/detail')}"><button type="button"class="s-b1">产品详情</button></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="page">
        <ul>
            <li class="page1"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">>></a></li>
        </ul>
    </div>
</div>
<include file="Public:footer"/>