<include file="Public/header" />
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <h3>友情链接</h3>
      <ul class="tab-base">
        <li><a href="{:U('Setting/friendlink')}"><span>管理</span></a></li>
        <li><a href="JavaScript:void(0);" class="current"><span>编辑</span></a></li>
      </ul>
    </div>
  </div>
  <div class="fixed-empty"></div>
  <form id="goods_class_form" method="post" enctype="multipart/form-data" action="{:U('curdLink')}">
    <input type="hidden" name="id" value="{$info['id']}" />
    <table class="table tb-type2">
      <tbody>
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation" for="title">标题:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['title']}" name="title" id="ctitle" class="txt"></td>
          <td class="vatop tips"></td>
        </tr>
        
        <tr class="noborder">
          <td colspan="2" class="required"><label class="validation" for="url">跳转地址:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['url']}" name="url" id="url" class="txt"></td>
          <td class="vatop tips">请务必在头部加上http://</td>
        </tr>
        
        <tr>
          <td colspan="2" class="required"><label>排序:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input type="text" value="{$info['sort']}" name="sort" id="sort" class="txt"></td>
          <td class="vatop tips">数字范围为0~255，数字越大越靠前</td>
        </tr>
        <tr>
          <td colspan="2" class="required"><label>状态:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform onoff"><label for="status1" class='cb-enable <if condition="$info['status'] eq 1">selected</if>'><span>开启</span></label>
            <label for="status0" class='cb-disable <if condition="$info['status'] eq 0">selected</if>'><span>关闭</span></label>
            <input id="status1" name="status" <if condition="$info['status'] eq 1">checked="checked"</if> value="1" type="radio">
            <input id="status0" name="status" <if condition="$info['status'] eq 0">checked="checked"</if> value="0" type="radio"></td>
          <td class="vatop tips"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"><a href="JavaScript:void(0);" class="btn" id="submitBtn"><span>提交</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
<script>
//按钮先执行验证再提交表单
$(function(){

	$("#submitBtn").click(function(){
		if($("#goods_class_form").valid()){
			$("#goods_class_form").submit();
		}
	});
	
	$('#goods_class_form').validate({
        errorPlacement: function(error, element){
			error.appendTo(element.parent().parent().prev().find('td:first'));
        },
        success: function(label){
            label.addClass('valid');
        },
        rules : {
            name : {
                required : true
            },
            sort : {
                number   : true
            }
        },
        messages : {
            name : {
                required : '分类名称不能为空'
			},
            sort  : {
                number   : '排序仅能为数字'
            }
        }
    });
	
});
</script>
<include file="Public/footer" />