<div class="page">
  <table class="table tb-type2 order">
    <tbody>
      <tr class="space">
        <th colspan="15"></th>
      </tr>
      <tr>
        <td colspan="2"><ul>
            <li>
            <strong>:</strong>
            </li>
            <li><strong>1111:22221</strong></li>
            <li><strong>1111212:</strong><span class="red_common">12121212</span></li>
            <li><strong>12112212:</strong>121212</li>
          </ul></td>
      </tr>
      <tr class="space">
        <th colspan="2"></th>
      </tr>
      <tr>
        <th></th>
      </tr>
      <tr>
        <td><ul>
            <li><strong>12:</strong>111212</li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong>
            </li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
          </ul></td>
      </tr>
      <tr>
        <th></th>
      </tr>
      <tr>
        <td><ul>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
            <li><strong>:</strong></li>
          </ul></td>
      </tr>
      <tr>
        <th></th>
      </tr>
      <tr>
        <td><table class="table tb-type2 goods ">
            <tbody>
              <tr>
                <th></th>
                <th></th>
                <th class="align-center"></th>
                <th class="align-center"></th>
                <th class="align-center"></th>
              </tr>
              <tr>
                <td class="w60 picture"><div class="size-56x56"><span class="thumb size-56x56"><i></i><a href="" target="_blank"><img alt="" src="" onload="javascript:DrawImage(this,56,56);"/> </a></span></div></td>
                <td class="w50pre"><a href="" target="_blank"></a></td>
                <td class="align-center"></td>
                <td class="w96 align-center"><span class="red_common"></span></td>
                <td class="w96 align-center"></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
      <tr>
      	<th></th>
      </tr>
      <tr>
      <td>
      <span style="color:red"></span>
      <a href="" target="_blank"></a>
      <span style="color:red"></span>
      <span style="color:red"></span>
      <span style="color:red"></span>
  <!-- E 促销信息 -->

          </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="tfoot">
        <td><a href="JavaScript:void(0);" class="btn" onclick="history.go(-1)"><span></span></a></td>
      </tr>
    </tfoot>
  </table>
</div>
